@if (isVisible) {
<div class="modal-overlay" [@fadeIn]>
    <div class="modal-container" [@slideIn] clickOutside (clickOutside)="closeModal()">
        <div class="modal-title"
            [ngClass]="{'success-title': type === 'success', 'warning-title': type === 'warning', 'error-title': type === 'error'}">
            {{ title }}
        </div>
        <div class="modal-message">
            {{ message }}
        </div>
        <div class="modal-buttons">
            @if (showConfirmButton) {
            <button class="modal-button cancel-button" (click)="closeModal()">
                {{ cancelButtonText }}
            </button>
            <button class="modal-button confirm-button" (click)="confirmAction()">
                {{ confirmButtonText }}
            </button>
            } @else {
            <button class="modal-button" (click)="closeModal()">
                {{ confirmButtonText }}
            </button>
            }
        </div>
    </div>
</div>
}